@using PonteAlta.Models
@model List<Placa>

<table id="tblVeiculos" class="table table-striped table-hover table-condensed" width="100%">
    <thed>
        <tr>
            <th>#</th>
            <th>Placa</th>
        </tr>
    </thed>
    @*<tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <button type="button" class="btn btn-default btn-flat" onclick="Sistema.Pedido.SelecionarCliente(@item.Codigo)">
                                <i class="fa fa-check"></i>
                            </button>
                        </td>
                        <td>@item.Codigo</td>
                        <td nowrap>@item.Nome</td>
                        <td nowrap>@item.Apelido</td>
                        <td nowrap>@item.InscricaoEstadual</td>
                        <td nowrap>@item.CPF</td>
                        <td>@item.CodGrupo</td>
                        <td>@item.Situacao</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">Nenhum registro</td>
                </tr>
            }
        </tbody>*@
</table>